# Mend Configuration
apiKey=e9e45e121af642f8b946b07c90fc178bf483511573d74f94a83c6669671b99a0
userKey=22ac59984b7f4d1a90ace847d96e6df135d4aa5522b4461ba69b3d0ed963e885
#wss.url=https://saas.whitesourcesoftware.com/agent
projectName=OSS-demo
productName=OSS
#productToken=a2842bd6263e49c8ab4ebb81be986d3b756a856b04c14652a4ba939739e0d5c3
#orgnizationName=OSS

 
# Scanning parameters
#sourceOrigin=artifactory  # Enforce scanning from JFrog Artifactory
#includes=**/*             # Scan all files
#scanComment=Automated security scan
#recursive=true
 
#JFrog Artifactory details
artifactory.enableScan=true
artifactory.url=https://csgprdusw2reposaas.jfrog.io/artifactory/
#artifactory.repoKeys=tdv-local-secured-oss-java-repo
artifactory.repoKeys=tdv-local-secured-oss-java-repo
#artifactory.userName=
artifactory.accessToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJrdU5ERlBuc2dSeE44a1J2UlNHU3Z1eEZza0RsWlBLRnA3ZGVBZkVvc1VJIn0.eyJzdWIiOiJqZmFjQDAxaGVndHA1YXMwam03MWdhdnR0OG4xYWNxL3VzZXJzL3NoaXZhbmkuYWdyYWhhcmlAY2xvdWQuY29tIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy9yb2xlczp0aWJjbzpcIlByb2plY3QgQWRtaW5cIiwiLCJhdWQiOiIqQCoiLCJpc3MiOiJqZmZlQDAxaGVndHA1YXMwam03MWdhdnR0OG4xYWNxIiwiaWF0IjoxNzMzNjQ3MzE3LCJqdGkiOiIxOTZlOTBkMC1kNmRjLTQ4NDMtOTM1Ny0zNGQ3Y2I0MDJmZGYifQ.e7yixzLCtKZfGBc6f9slU7yqP1ZGIGspxuIZ8jD0Rd7cO2POIVGqc2_3PYqw5rBM32yB3f3F5fSa4o5BNXWsMYiz9BS00DWkdeWYEF50UeUk4b935zeVkVlHbudbQc8dqoI5jgddfWZ3yuCbhPmS8YZnO4mf8_vu3Kancnn8pK4BtJgUWXFq9GYnYBY0H-Bpxs8_0AtU_49n2bM6iRwqu1gg3V6_VN89CLmi7kEOXGgSHgfcqAKNCtOzuhEhaCnmssDdtHvgkECyVBrOakRyBDiTv58pKYcIw0rdYsNhstKXEkixLRc96YzgZK7P9p4BmTOrjjinInercNyAMWXn0A
#artifactory.userPassword=
#artifactory.includes=**/* 
# Additional settings
#checkPolicies=true
#forceUpdate=true
generateReport=true
outputDirectory=./reports